@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*
lightgray      : #819090;
gray           : #708284;
mediumgray     : #536870;
darkgray       : #475B62;
darkblue       : #0A2933;
darkerblue     : #042029;
paleryellow    : #FCF4DC;
paleyellow     : #EAE3CB;
yellow         : #A57706;
orange         : #BD3613;
red            : #D11C24;
pink           : #C61C6F;
purple         : #595AB7;
blue           : #2176C7;
cyan           : #259286;
green          : #738A05; */
body {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 300;
font-size: 18px;
line-height: 1.2;
background: #e9ecf1;
color: #475B62;
}
strong {
font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
font-family: 'Source Sans Pro', sans-serif;
font-weight: 700;
color: #5c6169;
font-size: 18px;
margin-bottom: 0;
}
p {
margin-bottom: 0;
}
/*img{
width: 100%;
}*/
a{text-decoration: none;}
.container {
width: 80%;
max-width: 1200px;
margin: 0 auto;
}
.nav{display: flex;
align-items: center;
justify-content: space-between;
background: #F44336;
padding: 20px 30px;
color: #ffffff;
box-shadow: 0px 2px 9px 0px #00000042;
background: #0bc3c3;
background: -moz-linear-gradient(left, #0bc3c3 0%, #009cff 100%);
background: -webkit-linear-gradient(left, #0bc3c3 0%, #009cff 100%);
background: linear-gradient(to right, #0bc3c3 0%, #009cff 100%);
z-index: 99999;
}
.content{
padding: 0px;
display: flex;
align-items: flex-start;
justify-content: space-between;

}
.content-left{min-height:100%;/* flex: 0.3 0 0; */background-color: #383838;color: #929598;position: absolute;width: 150px;display: flex;align-items: self-start;flex-direction: column;}
.content-right{background: #ffffff;margin-left: 9%;padding: 15px 25px;border-radius: 8px;box-shadow: 0 1px 1px rgba(0,0,0,0.1);font-size: 14px;width: 100%;box-sizing: border-box;margin-top: 20px;    margin-right: 15px;}
.sidebar_menu li a{
color: #b8c7ce;
padding: 15px;
display: block;
font-size: 14px;
}
.sidebar_menu{flex: 2 1 0;}
.admin-report-table{margin-top: 40px;}
.search_box{width: 75%;}
th.heading{pointer-events:none;}
th.heading.open-search{pointer-events: auto;}
div.dt-buttons{padding: 5px 15px;margin: 7px 0px;}
button.dt-button, div.dt-button, a.dt-button{padding: 10px 25px;background: #00c0ef;border: 1px solid #00acd6;color: #ffffff;font-size: 14px;cursor: pointer;}
.dt-button.buttons-excel.buttons-html5:hover{background: #00a2ca;}
.buttons-excel::before{font-family: 'FontAwesome';color:#ffffff;position: relative;left: -8px;content: "\f019";}
.copyrights{color: #b8c7ce;padding: 10px 10px 20px;display: block;font-size: 14px;}
.add{margin-top: 10%;}
.heading.sorting, .heading.sorting_asc, .heading.sorting_desc{pointer-events: auto;}
